body {
  margin: 0px;
}

header {
  position: relative;
  width: 100%;
  height: 25vw;

  h1 {
    width: 100%;
    line-height: 25vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    color: #e1eeff;
  }
}

#modal {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  pointer-events: none;
  opacity: 0;
}

#modal.show {
  opacity: 1;
  pointer-events: all;

  .area {
    opacity: 0;
    position: relative;
    float: left;
    width: 33.333vw;
    height: 100vh;
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    cursor: pointer;
  }

  #area-left {
    animation-delay: 3s;
    background: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255, 0));
    background: -moz-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255, 0));
    background: -ms-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255, 0));
    background: -o-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255, 0));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255, 0));
  }

  #area-left:hover {
    opacity: 1;
  }

  #area-center {
    animation-delay: 3.1s;
  }

  #area-center:hover {
    opacity: 1;
  }

  #area-right {
    animation-delay: 3.2s;
    background: -webkit-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255, 0));
    background: -moz-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255, 0));
    background: -ms-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255, 0));
    background: -o-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255, 0));
    background: -webkit-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255, 0));
  }

  #area-right:hover {
    opacity: 1;
  }
}

.image {
  position: relative;
  float: left;
  width: 25vw;
  height: 25vw;
  background-size: cover;
  background-color: #eee;
  background-position: center;
  cursor: pointer;
}

.image:hover {
  opacity: 0.8;
}